.container-skills{
    background: #000;
    height: 92vh;
    width: 100%;
    h1{
        color: #ffffff;
    }
    .card{
        background: #000;
        border: solid 2px #fff;
        border-radius: 8px;
        height: 100px;
        width: 250px;
    }
}   